[Desktop Entry]
Type=Application
Name=fala_wl
Icon=icon-l-video
Exec=/usr/bin/invoker --type=m /usr/bin/fala_wl.launch
Categories=X-MeeGo;Demos;
OnlyShowIn=X-MeeGo;
