[Desktop Entry]
Type=Application
Name=fala_qml_wol
Icon=icon-l-video
Exec=single-instance /usr/bin/fala_qml_wol
Categories=X-MeeGo;Demos;
OnlyShowIn=X-MeeGo;
