[Desktop Entry]
Type=Application
Name=qml_wol_helloworld
Icon=icon-l-video
Exec=single-instance /usr/bin/fala_qml_helloworld.launch
Categories=X-MeeGo;Demos;
OnlyShowIn=X-MeeGo;
