Source: applauncherd
Section: admin
Priority: important
Maintainer: Alexey Shilov <alexey.shilov@nokia.com>
Build-Depends: cmake (>= 2.6.0), debhelper (>= 7), libqt4-dev (>= 4.5.0), libmeegotouch-dev, libcreds2-dev [arm armel], aegis-builder (>= 1.4) [arm armel], libxtst-dev, libxext-dev, libxi-dev, doxygen, python2.6, libsaveas, libmeegocontrol0, libduicontrolpanel, libxcomposite-dev, libresource0, libqt4-dev, liblocationextras, libmessagingif0, libsignon-qt0, libcontactswidgets-dev, sensord, libc6, libiphb0, libsignon-ui0, libdatepicker2, libxrandr-dev, liblocationpicker, libresource-dev
Standards-Version: 3.8.0

Package: applauncherd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, applauncherd-invoker (= ${binary:Version})
Description: Meta package for applauncherd and invoker
 Launcher daemon and invoker to speed up launches. 
 Special boosters for MeeGo Touch and Qt.

Package: applauncherd-dbg
Architecture: any
Section: debug
Priority: extra
Depends: applauncherd (= ${binary:Version}), applauncherd-invoker-dbg, applauncherd-launcher-dbg, ${misc:Depends}
Description: Meta package for applauncherd and invoker debug symbols

Package: applauncherd-invoker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, applauncherd-launcher (= ${binary:Version}), libcreds2 [arm armel]
Description: Invoker part of applauncherd
 Invoker part of applauncherd.

Package: applauncherd-invoker-dbg
Section: debug
Priority: extra
Architecture: any
Depends: applauncherd-invoker (= ${binary:Version}), ${misc:Depends}
Description: Invoker debug package
 Debug symbols for invoker
 
Package: applauncherd-launcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcreds2 [arm armel], applauncherd-single-instance, libcontactswidgets0, libiphb0, libsignon-qt0, libxrandr2, libresource0, libsaveas, sensord, libxcomposite1, libqt4-declarative, libmeegocontrol0, libdatepicker2, libc6, libduicontrolpanel, libsignon-ui0, liblocationextras, libmessagingif0, liblocationpicker
Description: Launcher part of applauncherd
 Launcher part of applauncherd.

Package: applauncherd-launcher-dbg
Section: debug
Priority: extra
Architecture: any
Depends: applauncherd-launcher (= ${binary:Version}), ${misc:Depends}
Description: Launcher debug package
 Debug symbols for launcher

Package: applauncherd-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, applauncherd
Description: Development files for applications using applauncherd
 Development files for applications using applauncherd.
 
Package: applauncherd-tests
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmeegotouchcore0, libmeegotouchviews0, libmeegotouchextensions0, libmeegotouchsettings0, testrunner-lite, applauncherd, ci-testing, libcreds[arm armel]
XB-Maemo-CI-Packages: applauncherd
XB-Maemo-CI-Stage: fast, staging
Description: applauncherd unit tests
 Unit testing binaries and shellscripts for testing applauncherd. 

Package: applauncherd-testscripts
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, applauncherd-testapps, testrunner-lite, applauncherd, ci-testing, testability-driver, libcreds2 [arm armel], libcreds2-tools [arm armel], meego-env, mcetools (>= 1.10.40), rdoc, python2.6, ruby, xresponse, x11-utils, python-pyside.qtcore, python-pyside.qtdeclarative, python-pyside.qtgui
Description: applauncherd testscripts
 Testscripts for testing applauncherd

Package: applauncherd-testapps
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, applauncherd, libmeegotouchcore0, libmeegotouchviews0, libmeegotouchextensions0, libmeegotouchsettings0, libcreds2 [arm armel], libcreds2-tools [arm armel] 
Description: applaunched testapps 
 Test applications for testing  applauncherd.

Package: applauncherd-testapps-dbg
Section: debug
Architecture: any
Priority: extra
Depends: applauncherd-testapps (= ${binary:Version}), ${misc:Depends}
Description: debug symbols for applauncherd testapps 

Package: applauncherd-functional-tests
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, applauncherd-testapps, applauncherd-testscripts 
XB-Maemo-CI-Packages: applauncherd
XB-Maemo-CI-Stage: fast, staging
Description: applauncherd functional tests
 Functional tests for testing applauncherd.

Package: applauncherd-invoker-tests
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, applauncherd-testapps, applauncherd-testscripts 
XB-Maemo-CI-Packages: applauncherd
XB-Maemo-CI-Stage: fast, staging
Description: applauncherd functional tests for invoker
 Functional tests for testing applauncherd.

Package: applauncherd-daemon-tests
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, applauncherd-testapps, applauncherd-testscripts 
XB-Maemo-CI-Packages: applauncherd
XB-Maemo-CI-Stage: fast, staging
Description: applauncherd functional tests for daemon
 Functional tests for testing applauncherd.

Package: applauncherd-art-tests
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, applauncherd-testapps, applauncherd-testscripts 
XB-Maemo-CI-Packages: applauncherd-launcher, applauncherd-invoker 
XB-Maemo-CI-Stage:acceptance, validation
Description: applauncherd art tests
 Art tests for testing applauncherd.

Package: applauncherd-apps-tests
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, applauncherd-testapps, applauncherd-testscripts 
XB-Maemo-CI-Packages: facebookqml  
XB-Maemo-CI-Stage:acceptance, validation
Description: applauncherd tests for applications dependent on applauncherd

Package: applauncherd-red-tests
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, applauncherd-testapps, applauncherd-testscripts 
XB-Maemo-CI-Packages: applauncherd
XB-Maemo-CI-Stage: fast, staging
Description: Tests related to bugs and new features for applauncherd 

Package: applauncherd-libmeegotouch-perf-tests
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, applauncherd-testapps, applauncherd-testscripts 
XB-Maemo-CI-Packages: applauncherd
XB-Maemo-CI-Stage: fast
Description: applauncherd performance tests for libmeegotouch applications

Package: applauncherd-qml-perf-tests
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, applauncherd-testapps, applauncherd-testscripts 
XB-Maemo-CI-Packages: applauncherd
XB-Maemo-CI-Stage: fast
Description: applauncherd performance tests for qml applications

Package: applauncherd-reference-perf-tests
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, applauncherd-testapps, applauncherd-testscripts 
XB-Maemo-CI-Packages: applauncherd
XB-Maemo-CI-Stage: fast
Description: applauncherd performance tests for libmeegotouch applications without launcher

Package: applauncherd-doc
Depends: ${misc:Depends}
Section: doc
Architecture: all
Description: Instructions for application developers

Package: applauncherd-single-instance
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Single instance binary for applauncherd
 Brings the already existing application window to foreground or
 executes new instance if not already running.
 Allows command line parameter --single-instance for invoker.

Package: applauncherd-single-instance-dbg
Section: debug
Priority: extra
Architecture: any
Depends: applauncherd-single-instance (= ${binary:Version}), ${misc:Depends}
Description: applauncherd single-instance debug package
 Debug symbols for single-instance binary
